<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
<meta charset="utf-8">
<title>DOB</title>

<link rel="stylesheet" href="bootstrap/bootstrap.css">
<script src="angularjs/angular.js"></script>
<script src="angular/angular-animate.js"></script>
<script>
	var myApp = angular.module("MyApp", []).constant("dataUrl",
			"http://localhost/Web/rest/hello/positions");
	myApp.controller("login", function($scope, $http, dataUrl) {
		$http.get(dataUrl).success(function(data) {
			$scope.positions = data;
		}).error(function(error) {
			$scope.error = error;
		});
		$scope.go = function(name, pass) {
			console.log("H");
			var data = {
				username : name,
				password : "19"
			};
			$http.post("http://localhost/MointorApp/rest/user/insert", data)
					.success(function(data) {
						console.log(data);
					}).error(function(error) {
						console.log(error);
						$scope.error = error;
					});

		}
	});
	myApp.filter("Go", function() {
		return function(items, dd, d2, all) {
			var res = [];
			if (angular.isArray(items) && angular.isString(dd)
					&& angular.isString(d2)) {
				angular.forEach(items, function(item) {
					if ((item.date >= dd && item.date <= d2) || all == true) {
						res.push(item);
					}

				});
				return res;
			} else {
				return items;
			}
		}
	});
</script>
</head>
<body ng-controller="login">

	<input type="text" class="form-control" ng-model="Sender">
	<button class="btn btn-primary" ng-click="go(Sender)">Hit</button>
	<span class="label label-danger">{{returner}}</span>
	<div class="alert alert-danger" ng-show="error">
		{{error}}<br /> <a href="/MointorApp" class="alert-link">Click</a>

	</div>
	<div class="panel" ng-hide="error">
		<div class="form-group">
			<label>User id:</label> <input type="text" class="form-control"
				ng-model="userId">
		</div>
		<div class="form-group">
			<label>Start :</label> <input type="text" class="form-control"
				ng-model="dd">
		</div>
		<div class="form-group">
			<label>End</label> : <input type="text" class="form-control"
				ng-model="d2">
		</div>
		<div class="checkbox-inline">
			<label><input type="checkbox" ng-model="all">Show All</label>
		</div>
		<br /> <br /> <br /> {{dd}},{{d2}},{{userId}}
		<ng-include src="'views/partialTable.html'"></ng-include>

	</div>
</body>
</html>