<!DOCTYPE html>
<html ng-app="MyApp">
<head>
<meta charset="ISO-8859-1">
<title>Welcome</title>
<script src="angularjs/angular.js"></script>
<link rel="stylesheet" href="bootstrap/bootstrap.css">
<script src="bootstrap/bootstrap.min.js"></script>
<script>
	var myApp = angular.module("MyApp", []).constant("dataUrl",
			"http://localhost/MointorApp/rest/user/allUsers");

	myApp.controller("LoginCtrl", function($scope, $http, dataUrl) {

		var promise = $http.get(dataUrl).success(function(data) {
			$scope.users = data;
		}).error(function(error) {
			$scope.users.error = error;
		});
		$scope.login = function(user) {
			var state = false;

			for (var i = 0; i < this.users.length; i++) {
				if (user.username === this.users[i].username
						&& user.password === this.users[i].password) {
					state = true;
				}
			}
			if (state) {
				console.log("Welcome " + user.username);
			} else {
				console.log("Make sure the password and username are proper!");
			}

		};
	});
	myApp.controller("registerCtrl", function($scope, $http) {

		$scope.register = function(user) {

			var request = $http.post(
					"http://localhost/MointorApp/rest/user/test", {
						msg : user
					}).success(function(data) {
				console.log("Data :" + data);
			});

		};

	});
</script>

</head>
<body>
	<div class="well">
		<h3 class="panel-header">Log in</h3>
		<form name="loginForm" ng-controller="LoginCtrl" ng-submit=login(user)>
			<div class="form-group">
				<label>Username</label> <input type="text" class="form-control"
					placeholder="Username here..." ng-model="user.username" required />
			</div>
			<div class="form-group">
				<label>Password</label> <input type="password" class="form-control"
					ng-model="user.password" placeholder="Password here..." required />
			</div>
			<div class="checkbox">
				<label><input type="checkbox" ng-model="user.admin" />Admin</label>
			</div>
			<input type="submit" class="btn btn-large btn-primary" value="Login" />
			<input type="reset" class="btn btn-large btn-primary" value="Reset" />
		</form>
	</div>
	<div class="well">
		<h3 class="panel-header">
			Not a user?<br />Register here
		</h3>
		<form name="registerForm" ng-controller="registerCtrl"
			ng-submit="register(user)">
			<div class="form-group">
				<label>Username</label> <input type="text" class="form-control"
					ng-model="user.username" />
			</div>
			<div class="form-group">
				<label>Password</label> <input type="password" class="form-control"
					ng-model="user.password" />
			</div>
			<input type="submit" value="Register"
				class="btn btn-large btn-success" /> <input type="reset"
				value="Reset" class="btn btn-large btn-success" />
		</form>
	</div>
</body>
</html>