<!DOCTYPE html>
<html ng-app="MapApp">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<title>Monitor Map</title>
<script src="angularjs/angular.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<link rel="stylesheet" href="bootstrap/bootstrap.css">
<link rel="stylesheet" href="map.css">
<script>
	var line = [];
	var map;
	var lastPos;
	var myApp = angular.module("MapApp", []).constant("dataUrl",
			"http://localhost/Web/rest/hello/positions");
	myApp.controller("MapCtrl", function($scope, $http, dataUrl) {
		$scope.info = "We are here to make some noise";
		$scope.userId = 1234;
		function initMap() {

			var mapOptions = {
				center : lastPos,
				zoom : 4,
				mapTypeId : google.maps.MapTypeId.ROADMAP
			};
			var mapElement = document.getElementById('map');
			var lineOptions = {
				path : line,
				strokeWeight : 7,
				strokeColor : '#FF0000',
				strokeOpacity : 0.8
			};

			var poly = new google.maps.Polyline(lineOptions);
			map = new google.maps.Map(mapElement, mapOptions);
			poly.setMap(map);

		}

		var promise = $http.get(dataUrl);
		promise.success(function(data) {
			$scope.positions = data;
			addLine(data);

		}).error(function(error) {
			$scope.positions.error = error;
		});
		function addLine(data) {

			for (var i = 0; i < data.length; i++) {
				var tempLatLng = new google.maps.LatLng(
						Number(data[i].latitude), Number(data[i].longitude));
				line.push(tempLatLng);
				lastPos = tempLatLng;

			}

			initMap();

		}

	});
	myApp.filter("filter", function() {
		return function(data, startDate, endDate, showAll) {
			if (angular.isArray(data) && angular.isString(startDate)
					&& angular.isString(endDate)) {
				var result = [];
				angular.forEach(data, function(item) {
					if ((item.date >= startDate && item.date <= endDate)
							|| showAll == true) {
						result.push(item);
					}
				});
				return result;
			} else {
				return data;
			}
		};
	});
</script>
</head>
<body ng-controller="MapCtrl">
	<div class="alert alert-danger" ng-show="error">
		We are sorry <br />Error :{{error}} has occured </br> <a
			href="/MointorApp/map.html" class="alert-link">Click here to try
			again</a>
	</div>
	<div class="panel" ng-hide="error">
		<div class="well">
			<h3>Select date</h3>
			<div class="form-group">
				<label>Start date</label> <input type="text" class="form-control"
					ng-model="startDate">
			</div>
			<div class="form-group">
				<label>End Date</label> <input type="text" class="form-control"
					ng-model="endDate">
			</div>
			<div class="checkbox-inline">
				<label><input type="checkbox" ng-model="showAll" checked>All
					positions</label>
			</div>
		</div>
		{{startDate}},{{endDate}}
		<div id="map" ng-show="status.show"></div>
		<div class="well">
			<h3 class="panel-header">Coordinates</h3>
			<table class="table table-striped">
				<thead>
					<tr class="danger">
						<td>UserId</td>
						<td>Latitude</td>
						<td>Longitude</td>
						<td>Date</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in positions |filter:startDate:endDate">
						<td class="success">{{item.userId}}</td>
						<td class="info">{{item.latitude}}</td>
						<td class="success">{{item.longitude}}</td>
						<td class="info">{{item.date}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>