<div class="panel" ng-controller="mapCtrl">
	<h3 class="panel-heading">{{message}}</h3>
	<div id="map"></div>
	<div class="panel" ng-hide="error">
		<div class="well">
			<h3>Select date</h3>
			<div class="form-group">
				<label>UserId</label> <input type="text" class="form-control"
					ng-model="userId">
			</div>
			<div class="form-group">
				<label>Start date</label> <input type="text" class="form-control"
					ng-model="startDate">
			</div>
			<div class="form-group">
				<label>End Date</label> <input type="text" class="form-control"
					ng-model="endDate">
			</div>
			<div class="form-group">
				<button class="btn btn-large btn-primary"
					ng-click="getCoordinates(userId,startDate,endDate)">Get
					coordinates</button>
				<button class="btn btn-large btn-primary"
					ng-click="allCoordinates(userId)">All coordinates</button>
			</div>
			<div class="checkbox-inline">
				<label><input type="checkbox" ng-model="showAll" checked>All
					positions</label>
			</div>
		</div>
		<div class="well">
			<h3 class="panel-header">Coordinates</h3>
			<table class="table table-striped">
				<thead>
					<tr class="danger">
						<td>UserId</td>
						<td>Latitude</td>
						<td>Longitude</td>
						<td>Date</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in positions |filter:startDate:endDate:showAll">
						<td class="success">{{item.userId}}</td>
						<td class="info">{{item.latitude}}</td>
						<td class="success">{{item.longitude}}</td>
						<td class="info">{{item.date}}</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>